# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/

# Misc
.DS_Store
.env
.npm
*.log

# Python / Jupyter (For your training notebooks)
.ipynb_checkpoints
__pycache__/
*.pyc
